################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FPT.ECTest.JohnBookstore.Application/obj
